#map(data-role="page")
  div(data-role="header")
    h1="Header"
  div#map_canvas(data-role="content")
  div(data-role="footer")
    div(data-role="navbar")
      ul
        li
          a(href="#map",class="ui-button-active",data-icon="home",data-icon-pos="top")="Home"
        li
          a(href="#favorites",data-icon="star",data-icon-pos="top")="Favorites"