!!! 5
html
  head
    title="Montreal bike rental status"
    link(rel="stylesheet",href="/style/sencha-touch.css")
    script(type="text/javascript",src="/lib/sencha-touch.js")
    script(type="text/javascript",src="/lib/test.js")
  body